
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.upperimage {
  /* background-image: url("./images/about.jpg"); */
  height: 70vh;
  width: 100%;
  margin: auto;
  background-repeat: round;
  background-size: cover;
  display: flex;
}
.headings {
  margin-left: 20%;
  font-family: 'Poppins', sans-serif;
  color: rgb(46, 44, 44);
}
.shead {
  display: flex;
  text-align: center;
  margin-top: 20%;
  justify-content: center;
  font-size: 1.6rem;
}
.bhead {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2.8rem;
}
.downdetail {
  background-color: rgb(120, 109, 109);
  height: 50vh;
  width: 100%;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.service{
  
    margin: auto ;
    display: flex;
    justify-content: center;
    font-size: 2.3rem;


}
.alldetail{
    display: flex;
display: flex;
justify-content: space-around;
}
