.container{
    background-image: url('./images/back2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position:left;

}
.contact{
    
    margin-right: 300px;
    margin-left: 100px;
    
    margin-bottom: 50%;
    font-size: 3.0rem;
    color: rgb(62, 96, 169);
    text-decoration: underline;

    
}
.form{
    display: flex;
    justify-content: center;
    height: 100vh;
    border: 0px ;
    align-items:center;
    
}
.name{
    margin: 30px;

}
.name input{
        width: 300px;
        height: 40px;
        border: 1px solid black ;
        border-radius: 10px;
}
.email{
    margin: 30px;

}
.email input{
    width: 300px;
    height: 40px;
    border: 1px solid black ;
    border-radius: 10px;

}
.message{
    margin: 30px;
}
.message input{
    width: 300px;
    height: 40px;
    border: 1px solid black ;
    border-radius: 10px;
}
.number{
    margin: 30px;
}
.number input{
    width: 300px;
    height: 40px;
    border: 1px solid black ;
    border-radius: 10px;
}
.button3{
    padding: 15px;
    width: 90px;
    margin-left: 35%;
    border: 1px solid  ;
    border-radius: 10px;
    font-weight: bolder;
    color: white;
    background-color:  rgb(62, 96, 169);
    
   
}
.button3:hover{
    background-color: white;
    color: rgb(62, 96, 169);
    cursor: pointer;
}

